
.cloudcolor{
    background-color: slategray;
}
.indexcolor{
    background-color: turquoise;
}
.tempcolor{
    background-color: orangered;
}
.wscolor{
    background-color: skyblue;
}
.humcolor{
    background-color: greenyellow;
}
nav{
    width:100%;
    height: 59px;
    background-color:rgba(224, 224, 224, 0.787);
}
nav header{
 
    margin-top: 5px;
    margin-left:2px;
}
nav header h2{
    padding: 10px; 
    background-color: teal;
    text-align:center;
    color:white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
.btn{
    display:none;
    margin-top:5px;
    float:right;
}
nav ul{
    z-index: 2;
    margin-top:5px;
    float:right;
    padding:10px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
nav ul li{
    display: inline-block;
    list-style:none;
    position:relative;
    padding:10px;
}
nav ul li ul li a{
    color:white;
    text-decoration: none;
    padding:8px 14px;
    /* float:left; */
}
nav ul li ul{
    display: none;
    z-index: 1000;
    position:absolute;
    float:left;
    background-color:teal;
    /* text-decoration: none;
    text-decoration-color: black; */
    border-radius: 0px 0px 4px 4px;
    
}
nav ul li:hover ul{
    display: block;   
}
nav ul li a{
    text-decoration: none;
    color:darkgray;
}
nav ul li ul li a:hover{
    background-color: whitesmoke;
}
nav ul li ul li{
    width:180px;
    border-radius: 4px;

}

.tealtxt{
    color:teal;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    top:20px;
}
.stylesslist{
    list-style: none;
}
.whiteback{
    background-color:white;
    position:relative;
    top:150px;
    max-width: 1200;
}
.compobject{
    background-color:white;
    position:relative;
    top:10px;
    width: 1000px;
    height:850px;
}
.compimg{
    /* position:relative; */
    margin-right:5px;
    margin-left:5px;
    margin-bottom: 5px;
    padding:3px;
    width:450px;
    height:310px;
    max-height:320px;
    max-width:460px;
}
 .whiteback2{
    background-color:white;
    position:relative;
    top:150px;
    min-width: 300px;
    max-width: 769px;
}
figcaption{
    text-align: center;
    position:relative;
}
.hrposition{
    position:relative;
    top: 20px;
    bottom:20px;
}
.floatright{
    float:right;
}
.imgright{
    top:5px;
     float:inline-start;
    border:blue;
}
.imgleft{
    top:5px;
    float:inline-start;
    border:blue;
}
.imgsize{
    width:160px;
    height:160px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #pcd{
    display: none;
    z-index: 1000;
    position:fixed;
    right:0px;
    bottom:0px;
    top:60px;
    width:150px;
    height:fit-content;
    padding: 5 0px;
    background-color:black;
}
@media(max-width:769px){
    .whiteback{

        position:relative;
        top:auto;
    }
    .whiteback2{
        position:relative;
        top:auto;
    }
    .indexcolor,.tempcolor,.humcolor,.wscolor,.cloudcolor{
        background-color: white;
    }
    nav{
        background-color: teal;
    }
    nav div div ul{
        display: none;
    }
    .btn{
        display:block;
    }

} 

